.card_text{
    width: 40%;
    height: 400px;
    
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
    font-size: 19px;
    transform: translateY(-100px);
    animation: card_animation 400ms 800ms ease forwards;
}
.card_text p{
    flex: 4;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
    transform: translateY(-30px);
    animation: card_text_animation 500ms 1300ms ease forwards;
    text-align: center;
}
@keyframes card_animation {
   100%{
       transform: translateY(0px);
       background-color: rgba(255, 255, 255, 0.082);
       box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.425);
       
   } 
}
@keyframes card_text_animation {
    100%{
        color: white;
        text-shadow: 0px 0px 5px black;
        transform: translateX(0px);

    }
}
#slider_button_container{
    width: 100%;
    justify-self: flex-end;
    align-self: flex-end;
    flex:1;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.circle1{
    width: 13px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 100ms;
}
.circle_animation{
    animation: circle_animation 900ms 1600ms ease forwards;
}
.circle_animation1{
    animation: circle_animation1 900ms 1600ms ease forwards;
}
.circle{
    width: 13px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 100ms;    
}
.circle:hover{
    background-color: rgba(255, 255, 255);
}
@keyframes circle_animation1 {
    100%{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255)
    }
}        
@keyframes circle_animation {
    100%{
        background-color: rgba(255, 255, 255);
        border: 1px solid rgba(255, 255, 255)
    }
}      
#card_image{
    width: 300px;
    height: 300px;
    transition: 100ms;
    background-image: url('../img/business-plan.png');
    background-size: cover;
    animation: image_animation 400ms  1800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    content: '';
    transform: translateX(250%);   
}
@keyframes image_animation {
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 800px){
    #card_image{
        display: hidden;
        width: 0;
        height: 0;

    }
    .card_text{
        width: 95%;
        height: fit-content;
        background-color:  #5201010e; 
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
        text-shadow: 0px 0px 5px black;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-bottom: 25px;
        border-radius: 0px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
        font-size: 17px;
        transform: translateY(-100px);
        animation: card_animation 400ms 800ms ease forwards;
    }
}