<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/DashboardInicial/menuLateral.css">
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/DashboardInicial/Content.css">
    <link rel="stylesheet" href="/css/botao.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/DashboardInicial/card.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Ubuntu', sans-serif;
        }
        
        .imgMenuTopo{
            width: 25px;
            height: 25px;
            transition: 300ms;
            cursor: pointer;
        }
        .imagemMenuActive{
            transform: scale(1.9);
        }
        #GeralFlex{
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #GeralFlex p {
            width: 45%;
            background-color: rgba(0, 0, 0, 0.13);
            padding: 20px;
            text-align: center;
            font-size: 19px;
        }
        html{
            overflow:hidden ;
        }
        
        #DescricaoEBotao{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .botaov2{
            padding: 5px;
        }
        #botaoGeral{
            border: 1px solid rgba(255, 255, 255);
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            background-color: var(--vermelhoMaisEscuro);
            transition: 200ms ease-in;
        }
        #botaoGeral:hover{
            transform: scale(1.1);
            padding: 20px;
        }

        #botaoGeral h4{
            font-family: 'Ubuntu', sans-serif;
        }
        .ContentInner{
            width: 80%;
            height: 100%;
            min-height: 100%;
            padding: 10px 3px 130px 0px ;
            display: flex;
            overflow-y: scroll;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        @media only screen and(max-width:1200px) {
            .ContentInner{
                width: 80%;
                height: 100%;
                min-height: 100%;
                padding: 10px 3px 130px 0px ;
                display: flex;
                overflow-y: scroll;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        
        .avançar{
            width: fit-content;
            padding: 8px;
            background-color: var(--vermelhoMaisEscuro);
            margin: 10px;
            border: 2px solid var(--cinza);
            border-radius: 4px 20px 20px 4px;
            text-align: center;
            transition: 200ms ease-in-out;
            cursor: pointer;
        }
        .avançar:hover{
            animation: avançarAnimation .2s ease-in-out forwards;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
        }
        @keyframes avançarAnimation {
            0%{
                padding: 8px;
            }
            100%{
                padding: 8px 8px 8px 30px;
            }
        }
        .checkbox{
            width: 20px;
            height: 20px;
            border-radius: 10px;
        }
        @media only screen and (max-width: 600px) {
            .cardDashBoardInicial{
                flex-direction: column;
            }
            .labelCard{
                display: flex;
                flex-direction: column;
            }

        }
                
    </style>
    
</head>
<body>   
     <div id="menu">
        <div id="containerFlexMenu" >
            <ul id="menuTop">
                <li class="LiMenu activeLi" id="Li0"> <span><img class="imgMenuTopo imagemMenuActive" src="/img/userVermelho.png" alt=""></span> </li>
                <li class="LiMenu" id="Li1"> <span><img class="imgMenuTopo" src="/img/RendasIcone.png" alt=""></span> </li>
                <li class="LiMenu" id="Li2"> <span><img class="imgMenuTopo" src="/img/GastosIcone.png" alt=""></span> </li>
                {{!-- <li class="LiMenu" id="Li3"> <span><img class="imgMenuTopo" src="/img/EstudosIcone.png" alt=""></span></li> --}}
            </ul>
        </div>
    </div>
    <form action="/CadastroLogin/ValidaFormNovoUser" method="post" id="ContentContainer">
        <div class="Content active" id="Geral">
            <div class="ContentFlex AnimationContent" id="GeralFlex" >
                <h1>Bem vindo 
                    {{#if Dados}}
                        {{{Dados.nome}}}
                    {{/if}}
                </h1>
                <p>Para completar o seu perfil e utilizar a plataforma, vamos cadastrar seus gastos e rendas.</p>
                <div class="" id="botaoGeral">
                    <h4>Clique aqui para cadastrar os seus gastos</h4> 
                </div>
            </div>
        </div>bn 
        <div class="Content" id="Rendas">
            <div class="avançar" id='anvançarRendas'>Avançar para gastos</div>
            <div class="ContentFlex"  id="RendasFlex">
                <div class="ContentInner" id="RendasInner" >
                    <div class="cardDashBoardInicial" >
                        <label class="labelCard" for="">
                            <h4 class="tituloCard" >Nome da renda</h4> &nbsp;
                            <input type="text" required="required" name='RendaInputNome0' >
                        </label>
                        <label class="labelCard"  for="">
                            <h4>Valor da renda</h4> &nbsp;
                            <input name='RendaInputValor0' required="required" type="number">  
                        </label>
                        <div class="adicionar"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="Content  " id="Gastos">
        
            <button type="submit" style="color: white;" class="avançar" id='anvançarGastos'>Confirmar gastos e rendas</button>
            <div class="ContentFlex"  id="GastosFlex">
                <div class="ContentInner" id="GastosInner" >
                    <div class="cardDashBoardInicial" >
                        <label class="labelCard" for="">
                            <h4>Nome do gasto</h4> &nbsp;
                            <input name='GastoInputNome0' required="required" type="text" >
                        </label>
                        <label class="labelCard"  for="">
                            <h4>Valor do gasto</h4> &nbsp;
                            <input  name='GastoInputValor0' required="required" type="number">  
                        </label>
                        <label for="" class="labelCard">
                            <h4>Essencial</h4>&nbsp;
                            <input class="checkbox" name='GastoInputEssencial0' type="checkbox">
                        </label>
                        <label for="" class="labelCard">
                            <h4>Mensal</h4>&nbsp;
                            <input class="checkbox" name='GastoInputMensal0' type="checkbox">
                        </label>
                        <div class="adicionarGastos"></div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="Content " id="Estudos">
            <div class="ContentFlex"  id="EstudosFlex">
                <h1>Estudos</h1>
                <div>FODASE</div>
            </div>
        </div>       --}}
        
    </form>     
    <script src="/js/DashboardInicial/Eventos.js"></script>
    <script src="/js/DashboardInicial/funcoesCards.js"></script>
</body>
</html>