<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cash Manager</title>
    <link rel="stylesheet" href="/css/first.css">
  </head>
  <body>
    <div id="background" >
      <h1 id="titulo_janela">
        CASH MANAGER
      </h1>
      <div id="forms">
        <form action="/verificaLogin" id="formLogin" method="POST">
          <label for="login" class="login_item ">
            <h2>Login</h2>
            <input type="text" name="Login" id="Login" class="input_cm input" >
          </label>
          <label for="login" class="login_item ">
            <h2>Senha</h2>
            <input type="password" name="Senha"class="input_cm2 input">
          </label>
          <div id="container_botoes">
              <input type="submit" class="input_botao" value="Entrar">
              <input type="button" class="input_botao" onclick="mostrarCampoRegistrese()" value="Registre-se">
          </div>
        </form>
        <form id="formReg" action="">
          <form id="registrar" action="">
            <label for="login" class="login_item ">
                <h2>Nome</h2>
                <input type="text" name="Login" id="Login" class="input_cm input" >
            </label>
            <label for="login" class="login_item ">
                <h2>Email</h2>
                <input type="mail" name="Email" id="Email" class="input_cm input" >
            </label>
            <label for="login" class="login_item ">
                <h2>Senha</h2>
                <input type="password" name="Senha" id="Senha" class="input_cm input" >
            </label>
            <label for="login" class="login_item ">
                <h2>Confirmação de senha</h2>
                <input type="password" name="confSenha" id="confSenha" class="input_cm input" >
            </label>
            <div id="container_botoes" style="margin-top: 40px;">
                <input type="button" class="input_botao" value="Voltar para login" onclick="mostrarCampoLogin()">
                <input type="submit" class="input_botao" value="Registre-se">
            </div>
        </form>
        </form>
      </div>
      
    </div>
   <script>
      let body = document.getElementsByTagName('body')[0]
      body.style.height = `${window.screen.height}px`

      function mostrarCampoLogin(){
        let formLogin = document.getElementById("forms")
        formLogin.style.transform = 'translateX(16%)'
      }
      function mostrarCampoRegistrese(){
        let formLogin = document.getElementById("forms")
        formLogin.style.transform = 'translateX(-30%)'
      }
   </script>
  </body>
</html>
