:root{
    --vermelho:#87363e;
    --vermelhoTranparente:#8a1824e7;
    --vermelhoMaisEscuro:#572328;
    --vermelhoMaisEscuroTransparente:#331417c4;
    --fontePadrao: 'titulo2';
    --cinza :rgba(138, 138, 138, 0.507);
}